
#info-header{    
    display:flex;    
    align-items:center;
    margin:10px 0 15px 15px;    
}
#info-title{
    width:90%;
}
#info-poster{
    border-radius:2.5px;  
    width:15%;   
}
#info-body>div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding:5px;
}
#movie-plot{
    text-align:justify;
}
p{  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#info-movie{
    padding-bottom:20px;
}